.active {
  flex: 1;
  background-color: green;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.inactive {
  flex: 1;
  background-color: red;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.app {
  height: 100%;
  width: 700px;
  margin: 20px;
}